# Database Configuration
DB_HOST=localhost
DB_PORT=5434
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=banking_service
DB_SSLMODE=disable

# JWT Configuration
JWT_SECRET=microBankSecret

# Server Configuration
GIN_MODE=debug
PORT=8080
